/* ================= NAVBAR ================= */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 80px;

  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);

  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */
nav h2 {
  font-size: 26px;
  font-weight: 700;
  color: #1e3a8a;
  letter-spacing: 0.5px;
}

/* LINKS CONTAINER */
nav div {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* LINKS */
nav a,
nav span {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  position: relative;
  cursor: pointer;
}

/* HOVER UNDERLINE */
nav a::after,
nav span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #2563eb;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
}

nav a:hover::after,
nav span:hover::after {
  width: 100%;
}

/* LOGIN BUTTON */
nav a[href="/login"] {
  background: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a[href="/login"]:hover {
  background: #1e40af;
}

/* LOGOUT BUTTON */
nav button {
  background: #2563eb;
  color: white;
  border-radius: 8px;
  padding: 8px 14px;
  border: none;
}

nav button:hover {
  background: #1e40af;
}